@import url('variables.css');

body {
  min-height: 100vh; /* Garante que o body ocupe no mínimo 100% da altura da viewport */
  margin: 0; /* Remove qualquer margem padrão do body */
  display: flex; /* Para permitir que o conteúdo centralize verticalmente, se necessário */
  flex-direction: column; /* Permite um layout em coluna */
  background: var(--color1);
  background: -moz-linear-gradient(top, var(--color1) 0%, var(--color3) 50%, var(--color5) 100%);
  background: -webkit-linear-gradient(top, var(--color1) 0%, var(--color3) 50%, var(--color5) 100%);
  background: linear-gradient(to bottom, var(--color1) 0%, var(--color3) 50%, var(--color5) 100%);
}

.sidebar {
  background-color: #3c3c3c;
  height: 100vh;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.sidebar ul li a:hover {
  color: #e0e0e0;
}
  
#usernameBtn {
  background-color: #6d6d6d;
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-size: 1.3rem;
  width: 100%;
  text-align: center;
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilização da imagem do usuário */
.user-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* Ajuste da área principal (Main Content) */
.container .row > .col-md-9 {
  padding-left: 40px; /* Aumenta o espaço entre o conteúdo principal e a sidebar */
  margin-left: auto;
  margin-right: auto;
}
  
.lista-box {
  background-color: #e9ecef;
  padding: 10px;
  border-radius: 10px;
}

.lista-imagens img {
  margin: 0 10px;
}

.arrow-left, .arrow-right {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-arrow-left, .fa-arrow-right {
  font-size: 20px;
}

button {
  cursor: pointer;
}
/* Configurações gerais */


#usernameBtn {
  background-color: #6d6d6d;
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-size: 1.3rem;
  width: 100%;
  text-align: center;
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilização da imagem do usuário */
.user-img {
  width: 200px;
  height: 200px;
  margin: center;
}

/* Estilização dos contadores */
h2 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

h5 {
  font-size: 1.2rem;
  font-weight: normal;
}

/* Estilização dos botões */
.btn-group .btn {
  margin: 10px;
  width: 150px;
}

.btn-danger {
  background-color: #ff5c5c;
}

#divSuperior{
  background-color: #ffffff;
  color: black;
}

#divInferior{
  background-color: #ffffff;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
}

.manga-box {
  width: 150px;
  height: 200px;
  background-color: #f0f0f0; /* Cor de fundo da div */
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombramento suave */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.manga-box:hover {
  transform: scale(1.05); /* Aumenta a escala quando passar o mouse */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Intensifica o sombreamento */
}

.manga-title h6 {
  margin: 0;
  font-size: 14px;
  color: #333; /* Cor do título do mangá */
  font-weight: bold;
}


/* Estilo de botão ajustado */
.btn-31 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 0.9rem;  /* Diminuído o tamanho da fonte */
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0.8rem 1.8rem; /* Diminuído o padding */
}

.btn-31:disabled {
  cursor: default;
}

.btn-31:-moz-focusring {
  outline: auto;
}

.btn-31 svg {
  display: block;
  vertical-align: middle;
}

.btn-31 [hidden] {
  display: none;
}

.btn-31 {
  border-width: 1px;
  padding: 0.8rem 1.8rem; /* Ajuste de padding */
  position: relative;
  text-transform: uppercase;
}

.btn-31:before {
  --progress: 100%;
  background: #fff;
  -webkit-clip-path: polygon(
    100% 0,
    var(--progress) var(--progress),
    0 100%,
    100% 100%
  );
  clip-path: polygon(
    100% 0,
    var(--progress) var(--progress),
    0 100%,
    100% 100%
  );
  content: "";
  inset: 0;
  position: absolute;
  transition: -webkit-clip-path 0.2s ease;
  transition: clip-path 0.2s ease;
  transition: clip-path 0.2s ease, -webkit-clip-path 0.2s ease;
}

.btn-31:hover:before {
  --progress: 0%;
}

.btn-31 .text-container {
  display: block;
  overflow: hidden;
  position: relative;
}

.btn-31 .text {
  display: block;
  font-weight: 900;
  mix-blend-mode: difference;
  position: relative;
}

.btn-31:hover .text {
  -webkit-animation: move-up-alternate 0.3s ease forwards;
  animation: move-up-alternate 0.3s ease forwards;
}

@-webkit-keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}