<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Catálogo de Mangás</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/catalogoMangas.css"> <!-- Link para o seu CSS -->
</head>
<body data-idusuario="{{infoUsuario.IDUsuario}}">

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/paginaPrincipal">MiruYomuHub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/catalogoAnimes">Catálogo Animes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Catálogo Mangás</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{infoUsuario.Nome}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/perfilUsuario">Perfil</a>
            <a class="dropdown-item" href="#" id="linkListasAnimes">Listas Animes</a>
            <a class="dropdown-item" href="#" id="linkListasMangas">Listas Mangás</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
          <input id="search-item" class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
          <button id="search-button" class="btn btn-outline-success my-2 my-sm-0" type="button">Pesquisar</button>
      </form>
      <ul id="search-results-dropdown" class="dropdown-menu" style="position: absolute;">
    </div>
  </nav>
  
  <div id="manga-container">
    <!-- Os mangás serão carregados aqui -->
  </div>
  <button id="ver-mais" class="button" style="display: none;">
      Ver Mais
    </button>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="/js/catalogoMangas.js"></script> <!-- Link para seu arquivo JS -->
</body>
</html>
