doctype html
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title MiruYumo - Lista de Mangás
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/listaMangas.css")

  body
    .container.m-0
      .row
        // Sidebar
        .col-md-3.sidebar.d-flex.flex-column
          .d-flex.justify-content-center.align-items-center.mt-4
            img(src="../assets/17004.png" alt="Imagem do Usuário" class="user-img")
          div#usernameBtn.mt-5.mb-5 #{infoUsuario.Nome}
          ul.mt-5
            li
              a.btn.btn-primary.mb-2.btn-block(href="/paginaPrincipal") Página Principal
            li
              a.btn.btn-primary.mb-2.btn-block(href="/listaAnimes") Listas Animes
            li
              a.btn.btn-primary.mb-2.btn-block(href="#") Listas Mangás
            li
              a.btn.btn-primary.mb-2.btn-block(href="/logout") Sair da Conta

        // Main Content - Lista de Animes
        .col-md-9
          .col-md-12#divListaAnimes.pt-3
            h2.text-center Lista Mangás

            // Lista 1
            .row.mt-3
              .col-md-12
                h4 Nome Lista
              .col-md-12.d-flex.align-items-center.justify-content-between.lista-box
                .d-flex.justify-content-center.flex-row.lista-imagens
                  img(src="https://via.placeholder.com/100x150" alt="Anime 1" class="anime-img")
                  img(src="https://via.placeholder.com/100x150" alt="Anime 2" class="anime-img")
                  img(src="https://via.placeholder.com/100x150" alt="Anime 3" class="anime-img")

            // Lista 2
            .row.mt-3
              .col-md-12
                h4 Nome Lista 2
              .col-md-12.d-flex.align-items-center.justify-content-between.lista-box
                .d-flex.justify-content-center.flex-row.lista-imagens
                  img(src="https://via.placeholder.com/100x150" alt="Anime 1" class="anime-img")
                  img(src="https://via.placeholder.com/100x150" alt="Anime 2" class="anime-img")
                  img(src="https://via.placeholder.com/100x150" alt="Anime 3" class="anime-img")
            // Botão para criar nova lista
            .row.mt-5.justify-content-center
              .col-md-6.text-center
                button.btn.btn-secondary.btn-block Criar nova lista

    // Incluindo o JavaScript do Bootstrap
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
