doctype html
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Página de Cadastro
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/paginaCadastro.css")

  body
    .container.d-flex.justify-content-center.align-items-center
      .row
        .col-md-6.animate-card
          .card
            .card-body
              h3.text-center.mb-4 Cadastro
              form.labels-card(action="/paginaCadastro" method="POST")
                .form-group
                  label(for="name") Nome
                  input#name.form-control(type="text" name="nome" placeholder="Insira seu nome" required)  
                .form-group
                  label(for="age") Idade
                  input#age.form-control(type="date" name="idade" placeholder="Insira sua idade" required)
                .form-group
                  label(for="email") Email
                  input#email.form-control(type="email" name="email" placeholder="Insira seu email" required)
                .form-group
                  label(for="password") Senha
                  input#password.form-control(type="password" name="senha" placeholder="Insira sua senha" required)
                .form-group
                  label(for="confirm-password") Confirme sua Senha
                  input#confirm-password.form-control(type="password" name="confirm_password" placeholder="Confirme sua senha" required)
                .form-group.text-center
                  .button-container
                    button(type="submit" class="btn btn-block")
                      span Cadastrar-se

    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")